---
import type { PostFrontmatter } from "../types/markdown";
import ArrowRightIcon from "./ArrowRightIcon.astro";
interface Props {
  metadata: PostFrontmatter;
}

const { metadata } = Astro.props;
---

<!-- HTML -->
<article>
  <div class="content">
    <div class="upper">
      <h2>Postagem em destaque</h2>

      <h3>{metadata.title} - {metadata.excerpt}</h3>

      <p>{metadata.date}</p>
    </div>

    <a href={"/blog/" + metadata.slug}> Leia mais <ArrowRightIcon /></a>
  </div>

  <picture>
    <img src={metadata.thumbnail} alt={metadata.title} />
  </picture>
</article>

<!-- STYLES - SCSS -->
<style lang="scss">
  article {
    width: 100%;
    min-height: 25rem;
    border-radius: 0.5rem;
    background: var(--surface);
    color: var(--on-surface);
    padding: 1rem;
    display: flex;
    box-shadow: var(--light-shadow);

    @media screen and (min-width: 90rem) {
      height: 50rem;
    }
  }

  .content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1rem;
    width: 50%;

    @media screen and (min-width: 90rem) {
      padding: 5rem 7.5rem;
    }
  }
  .upper {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }

  h2 {
    font-size: clamp(1.2rem, 1.2vw, 1.6rem);
  }

  h3 {
    font-size: clamp(1.4rem, 3vw, 3.5rem);
    font-weight: 500;
    word-wrap: break-word;
  }

  p {
    font-size: clamp(1rem, 1vw, 1.4rem);
  }

  a {
    text-decoration: none;
    color: var(--secondary);
    font-size: clamp(1.2rem, 1.25vw, 1.8rem);
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 0.5rem;
    font-weight: 600;
    background: white;
    width: fit-content;
    padding: 1rem;
    padding-left: 3rem;
    border-radius: 0 0.5rem 0.5rem 0;
    transform: translateX(-2.2rem);

    @media screen and (min-width: 90rem) {
      padding-left: 8.5rem;
      transform: translateX(-8.7rem);
    }
  }

  picture {
    width: 50%;
    min-height: 25rem;
    height: 100%;
    border-radius: 0.5rem;
    background: #202020;
    position: relative;
  }

  img {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    box-sizing: border-box;
    padding: 0;
    border: none;
    margin: auto;
    display: block;
    min-width: 100%;
    max-width: 100%;
    min-height: 100%;
    max-height: 100%;
    object-fit: contain;
  }
</style>
